@media (max-width: 425px) {
  #startVoice,
  .jarvis {
    width: 150px;
  }

  .input-container div {
    width: 80%;
  }

  .center-logo-con .watch-j {
    width: 180px;
  }

  .output div {
    width: 80%;
    height: 250px;
  }

  #inputBox {
    font-size: 17px;
  }

  #submit {
    padding: 10px 12px;
    font-size: 17px;
    font-weight: 700;
  }
}

@media (max-width: 700px) {
  .center-logo-con .watch-j {
    width: 300px;
  }
  .magic {
    display: none;
  }
  .output {
    margin-top: 5px;
  }
  
.bottom-con{
  margin-top: 150px;
}
.chatting-con .right div{
  display: none;
}
}
@media (min-width: 700px) {
  .center-logo-con .watch-j {
    width: 330px;
  }
  
  .output {
    margin-top: 5px;
  }
}
